@model List<Receipt.Models.CompanyViewModel>
@{
    ViewBag.Title = "Фирми";
}

<div class="container">
    <div class="well well-sm">
        <strong>Изглед</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-th-list">
                </span>Списък
            </a>
            <a href="#" id="grid" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-th"></span>Таблица
            </a>
            <a href="#" id="add" class="btn btn-default btn-sm" onclick="loadModal()" data-toggle="modal" data-target="#myModal">
                <span class='glyphicon glyphicon-edit'></span>Добави
            </a>
        </div>
    </div>
    <div id="products" class="row list-group">
        @foreach (var c in Model)
        {
            var BS = "BG" + c.Eik;
            <div class="item  col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading">
                            @c.Name
                        </h4>
                        <p class="group inner list-group-item-text">
                            @c.Address
                        </p>
                        <p class="group inner list-group-item-text list hide">
                            @c.Description
                        </p>
                        <p class="lead list hide">
                            @BS
                        </p>
                        <div class="row grid">
                            <div class="col-xs-12 col-md-6">
                                <p class="lead">
                                    @BS
                                </p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <a class="btn btn-default btn-sm" onclick="if(confirm('Изтриване на @c.Name')){deleteCompamy(@c.CompanyId, this)}" href="javascript:void(0)">
                                    <span class="glyphicon glyphicon-trash">
                                    </span>
                                </a>
                                <a class="btn btn-default btn-sm" onclick="loadModal(@c.CompanyId)" href="javascript:void(0)" data-toggle="modal" data-target="#myModal">
                                    <span class="glyphicon glyphicon-edit">
                                    </span>
                                </a>
                                <a style="float:right" class="btn btn-default btn-sm" onclick="alert('Не е готово')" href="javascript:void(0)">
                                    <span class="glyphicon glyphicon-barcode">
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="row list hide">
                            <div class="col-xs-24 col-md-12">
                                <a class="btn btn-danger" onclick="if(confirm('Изтриване на @c.Name')){deleteCompamy(@c.CompanyId, this)}" href="javascript:void(0)">
                                    <span class="glyphicon glyphicon-trash">
                                    </span>
                                </a>
                                <a class="btn btn-success" onclick="loadModal(@c.CompanyId)" href="javascript:void(0)" data-toggle="modal" data-target="#myModal">
                                    <span class="glyphicon glyphicon-edit">
                                    </span>Редакция
                                </a>
                                <a style="float:right" class="btn btn-warning" onclick="alert('Не е готово')" href="javascript:void(0)">
                                    <span class="glyphicon glyphicon-barcode">
                                    </span>Добави
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Добавяне</h4>
                </div>
                <div id="modal-body" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отказ</button>
                    <button id="save-btn" type="button" onclick="submitSave(this)" class="btn btn-primary"></button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        function submitSave(obj) {
            var $form = $('form[action^="/Companies/Edit"]');
            $.post($form.attr("action"), $form.serialize(), function (data) {
                $("#products").html(data);
                $('.close').click();
            })
        }

        function deleteCompamy(id, obj) {
            $.ajax({
                type: "GET",
                cache: false,
                url: '/companies/delete/' + id,
                success: function (data, status) {
                    $('.close').click();
                    $(obj).closest('.item').remove();
                },
                error: function errorFunc() {
                }
            });
        }

        function loadModal(id) {
            var url = '/companies/edit/';
            if (typeof (id) != 'undefined') {
                $('.modal-title').html('Редактиране');
                $('#save-btn').html('Запиши');
                url = url + id;
            }
            else {
                $('.modal-title').html('Добавяне');
                $('#save-btn').html('Добави');
            }
            $.ajax({
                type: "GET",
                cache: false,
                url: url,
                success: function (data, status) {
                    $('#modal-body').html(data);
                },
                error: function errorFunc() {
                }
            });
        }

        $(document).ready(function () {
            $('#list').click(function (event) {
                event.preventDefault();
                $('#products .item').addClass('list-group-item');
                $('.grid').addClass('hide');
                $('.list').removeClass('hide');
            });
            $('#grid').click(function (event) {
                event.preventDefault();
                $('#products .item').removeClass('list-group-item');
                $('.grid').removeClass('hide');
                $('.list').addClass('hide');

            });
        });
    </script>
    <style type="text/css">
        .hide {
            display: none;
        }

        .glyphicon {
            margin-right: 5px;
        }

        .thumbnail {
            margin-bottom: 20px;
            padding: 0px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
        }

        .item.list-group-item {
            float: none;
            width: 100%;
            background-color: #fff;
            margin-bottom: 10px;
        }

            .item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover {
                background: #428bca;
            }

            .item.list-group-item .list-group-image {
                margin-right: 10px;
            }

            .item.list-group-item .thumbnail {
                margin-bottom: 0px;
            }

            .item.list-group-item .caption {
                padding: 9px 9px 0px 9px;
            }

            .item.list-group-item:nth-of-type(odd) {
                background: #eeeeee;
            }

            .item.list-group-item:before, .item.list-group-item:after {
                display: table;
                content: " ";
            }

            .item.list-group-item img {
                float: left;
            }

            .item.list-group-item:after {
                clear: both;
            }

        .list-group-item-text {
            margin: 0 0 11px;
        }
    </style>
