@model List<Receipt.Models.CompanyViewModel>

@foreach (var c in Model)
{
    <div class="item  col-xs-4 col-lg-4">
        <div class="thumbnail">
            <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
            <div class="caption">
                <h4 class="group inner list-group-item-heading">
                    @c.Name
                </h4>
                <p class="group inner list-group-item-text">
                    @c.Address
                </p>
                <p class="lead">
                    ЕИК: @c.Eik
                </p>
                <div class="row">
                    <div class="col-xs-24 col-md-12">
                        <a class="btn btn-danger" onclick="deleteCompamy(@c.CompanyId, this)" href="javascript:void(0)">
                            <span class="glyphicon glyphicon-trash">
                            </span>
                        </a>
                        <a class="btn btn-success" onclick="loadModal(@c.CompanyId)" href="javascript:void(0)" data-toggle="modal" data-target="#myModal">
                            <span class="glyphicon glyphicon-edit">
                            </span>Редакция
                        </a>
                        <a style="float:right" class="btn btn-warning" onclick="deleteCompamy(@c.CompanyId, this)" href="javascript:void(0)">
                            <span class="glyphicon glyphicon-barcode">
                            </span>Добави
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
}



