@model List<Receipt.Models.CompanyViewModel>

@foreach (var c in Model)
{
    <div class="item  col-xs-4 col-lg-4">
        <div class="thumbnail">
            <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
            <div class="caption">
                <h4 class="group inner list-group-item-heading">
                    @c.Name
                </h4>
                <p class="group inner list-group-item-text">
                    @c.Address
                </p>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <p class="lead">
                            @c.Eik
                        </p>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="btn-group">
                            <a href="javascript:void(0)" id="list" onclick="deleteCompamy(@c.CompanyId, this)" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-trash">
                                </span>Изтрии
                            </a>
                            <a href="javascript:void(0)" id="grid" onclick="loadModal(@c.CompanyId)" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">
                                <span class="glyphicon glyphicon-edit"></span>Редакция
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



