@model Receipt.Models.WorkListViewModel

<html>
<head>
    <meta charset="utf-8" />
</head>
<body>

    <div style="text-align:center">
        <h4>
            Образец за сканиране на белажките
        </h4>
    </div>
    <div>
        @foreach (var c in Model.receipts)
            {
            <div class="dotet">
                <div class="rfont main">
                    <div style="text-align: center; font-size:3mm">@c.Company.Name</div>
                    <div style="text-align: center">@(c.Company.City + ", " + c.Company.Address)</div>
                    <div style="text-align: center">ЕИК: @c.Company.Eik</div>
                    <div style="text-align: center; font-size:3mm">@c.Company.Name</div>
                    <div style="text-align: center">@(c.Company.City + ", " + c.Company.Address)</div>
                    <div style="text-align: center">@("ЗДДС: N:BG" + c.Company.Eik)</div>
                    <div style="min-height:2mm">&nbsp;</div>
                    <div class="aParent">
                        <div style="width:20%; text-align:left; display: inline-block;" class="allCaps">
                            @c.Operator.Split(new[] { " " }, StringSplitOptions.None)[0]
                        </div>
                        <div style="width:60%; text-align:left; display: inline-block;" class="allCaps">
                            @c.Operator.Split(new[] { " " }, StringSplitOptions.None)[1]
                        </div>
                        <div style="width:20%; text-align:right; display: inline-block;">
                            @c.Operator.Split(new[] { " " }, StringSplitOptions.None)[2]
                        </div>
                    </div>
                    <div style="min-height:2mm">&nbsp;</div>
                    @foreach (var cc in c.Articles)
                    {
                        <div class="aParent allCaps">
                            <div style="width:80%; text-align:left; display: inline-block;">
                                @cc.ArticleName
                            </div>
                            <div style="width:20%; text-align:right; display: inline-block;">
                                @cc.Price.ToString("0.00")
                            </div>
                        </div>
                    }
                    <div style="text-align: center">----------------------------------------------------</div>
                    <div class="aparent allcaps tbold">
                        <div style="width:40%; text-align:left; display: inline-block;">
                            общо
                        </div>
                        <div style="width:60%; text-align:right; display: inline-block;">
                            @c.TotalPrice.ToString("0.00")
                        </div>
                    </div>
                    <div class="aparent allcaps">
                        <div style="width:80%; text-align:left; display: inline-block;">
                            в брой
                        </div>
                        <div style="width:20%; text-align:right; display: inline-block;">
                            @c.TotalPrice.ToString("0.00")
                        </div>
                    </div>
                    <div style="text-align: center">б л а г о д а р и м &nbsp;&nbsp; в и !</div>
                    <div style="text-align: center">@c.ArticleRow</div>
                    <div class="aParent allCaps">
                        <div style="width:20%; text-align:left; display: inline-block;">
                            @c.Number
                        </div>
                        <div class="" style="width:80%; text-align:right; display: inline-block;">
                            @c.DateF
                        </div>
                    </div>
                    <div class="aParent allCaps">
                        <div style="width:18%; text-align:center; display: inline-block;">
                            <img class="img" src="@Model.link">
                        </div>
                        <div class="tbold" style="width:82%; text-align:left; display: inline-block;">
                            ФИСКАЛЕН БОН
                        </div>

                    </div>
                    <div class="aParent allCaps">
                        <div style="width:50%; text-align:left; display: inline-block;">
                            @c.Company.LeftNumber
                        </div>
                        <div style="width:50%; text-align:right; display: inline-block;">
                            @c.Company.RigthNumber
                        </div>
                    </div>
                    <div class="clearFix smalFont">@c.BugNumber</div>
                </div>
            </div>

        }
    </div>



    <style type="text/css">

        
        .rfont {
            font-size: 3mm !important;
            line-height: normal;
        }

        .smalFont {
            font-size: 2.4mm;
        }

        .main {
            width: 57mm !important;
            padding: 0;
            margin: 0;
            margin-left: 3mm;
            margin-right: 4mm;
            margin-top: 8mm;
            margin-bottom: 8mm;
            font-family: Arial, Helvetica;
        }

        .dotet {
            display: inline-block;
            padding: 0;
            margin: 0;
            border-style: dashed;
            border-width: 1px;
        }

        .allCaps {
            text-transform: uppercase;
        }

        .aParent div {
            float: left;
            clear: none;
        }

        .tbold {
            font-weight: bolder;
            font-size: 4mm;
        }

        .clearFix {
            clear: both;
        }

        .img {
            height: 4mm;
        }
    </style>

</body>
</html>
